.home-page {
  display: flex;
  justify-content: center;
}

mat-card-title {
  color: white;
}

mat-panel-description {
  display: flex;
  justify-content: flex-end;
}

.first-layer {
    margin: 30px;
    height: 85vh;
    background:rgba(55,71,79,0.7);
    display: flex;
    width: fit-content;
}

.second-layer {
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    background: rgba(84,110,122,0.8);
    width: 50vh;
}

.third-layer {
  background: #b0bec5;
}

.fourth-layer {
  background: #cfd8dc;
}

.fifth-layer {
  background: #eceff1;
}

.artist-table {
  margin-left: 10%;
}

.artist-image {
  height: 50%;
  width: 50%;
  border-radius: 6px;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mat-table{    
  border-radius: 6px;
  overflow:hidden !important;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table-container {
    overflow: auto;
}

.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
flex: 0 0 auto;
}


//Scrollbar
.container-list {
  overflow: auto;
}

.container-list::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.1);
}

.container-list::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #263238; // Put your color
}

.container-list::-webkit-scrollbar-button,
.container-list::-webkit-scrollbar-track,
.container-list::-webkit-scrollbar-track-piece,
.container-list::-webkit-scrollbar-corner,
.container-list::-webkit-resizer {
  display: none;
}