<div class="home-page">
    <mat-spinner class="spinner" *ngIf="loading" [diameter]="200"></mat-spinner>
    <mat-card *ngIf="!loading" class='first-layer'>
        <mat-card class='second-layer table-container'>
            <mat-card-header>
                <mat-card-title>
                    Top Artists
                </mat-card-title>
            </mat-card-header>
            <mat-accordion class="container-list">
                <mat-expansion-panel class="third-layer" hideToggle *ngFor="let artist of topArtists">
                    <mat-expansion-panel-header class="right-aligned-header">
                        <mat-panel-title>
                            {{artist.name | titlecase}}
                        </mat-panel-title>
                        <mat-panel-description>
                            Popularity: {{artist.popularity}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="card-content">
                        <table mat-table [dataSource]="artist.genres" class="fourth-layer artist-table">
                            <ng-container matColumnDef="genre">
                                <th mat-header-cell *matHeaderCellDef> Genres </th>
                                <td mat-cell *matCellDef="let genre"> {{genre}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <img src={{artist.images[0].url}} alt="Artist Image" class="artist-image">
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card>
        <!-- <mat-card class='card-secondary'>
            <canvas baseChart chart-legent="false"
                [data]="genreValues"
                [labels]="genreLabels"
                [chartType]="chartType"
                [options]="chartOptions"
                >
            </canvas>
        </mat-card> -->
        <mat-card class='second-layer table-container'>
            <mat-card-header>
                <mat-card-title>
                    Your Genres
                </mat-card-title>
            </mat-card-header>
            <mat-accordion class="container-list">
                <mat-expansion-panel class="third-layer" hideToggle *ngFor="let genre of genres">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{genre.name | titlecase}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{genre.value}} Artists
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-accordion>
                        <mat-expansion-panel hideToggle class="fourth-layer" *ngFor="let artist of genre.artists">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{artist.name}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="card-content">
                                <table mat-table [dataSource]="artist.genres" class="fifth-layer artist-table">
                                    <ng-container matColumnDef="genre">
                                        <th mat-header-cell *matHeaderCellDef> Genres </th>
                                        <td mat-cell *matCellDef="let genre"> {{genre}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <img src={{artist.images[0].url}} alt="Artist Image" class="artist-image">
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card>
    </mat-card>
</div>
